{% extends 'base.html' %}

{% load crispy_forms_tags crispy_forms_filters %}

{% block content %}

<style>

    h2
    {
    text-align: center;
    }
    
    #formbox
    {
        max-width: 100vw;
        border-radius: 25px;
    }
    
    
      main
      {
        min-height: 88vh;
        background: linear-gradient(to right top, #fbe8ea, #ffafcc);
        display: flex;
        align-items: center;
        justify-content: center;
      }
    
      .contain
      {
          background:white;
          min-height: 80vh;
          width:60%;
          background:linear-gradient(to right bottom, rgba(255,255,255,0.7),rgba(255,255,255,0.3));
          border-radius: 2rem;
          backdrop-filter: blur(2rem);
          z-index: 1;
          display: flex;
      }
    
      .circle1,.circle2
      {
        background:white;
        background:linear-gradient(to right bottom, rgba(255,255,255,1),rgba(255,255,255,0.5));
        height: 20rem;
        width: 20rem;
        position: absolute;
        border-radius: 50%;
      }
    
      .circle1
      {
        top:20%;
        right:10%;
        z-index: 0;
      }
    
      .circle2
      {
        bottom:5%;
        left:10%;
        z-index: 0;
      }
    
      .image
      {
          flex: 1;
          display:flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          background:linear-gradient(to right bottom, rgba(255,255,255,0.7),rgba(255,255,255,0.3));
          border-radius: 2rem;
      }
    
      .mytable
      {
          flex:2;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content:center;
      }
    
      #myimg
      {
          width:100%;
          height: auto;
          
      }
    
      .txt
      {
          color:#f05d87;
          font-weight:600;
          opacity: 0.8;
          font-family: "Poppins",sans-serif;
      }
    
      h1
      {
          font-size: 3vw;
      }
      
    </style>

<main>
    <br>
    <section class="contain">
        
        <div class="container">
    
    <h2 class="mb-3">{{ question.txt }}</h2>
    <form method="post" novalidate>
        {% csrf_token %}
        {{ formset.management_form }}
        {{ form|crispy }}
        <div class="card mb-3{% if formset.errors %} border-danger{% endif %}">
            <div class="card-header">
                <div class="row">
                    <div class="col-8">
                        <strong>Answers</strong>
                    </div>
                    <div class="col-2">
                        <strong>Correct?</strong>
                    </div>
                    <div class="col-2">
                        <strong>Delete?</strong>
                    </div>
                </div>
            </div>
            {% for error in formset.non_form_errors %}
            <div class="card-body bg-danger border-danger text-white py-2">{{ error }}</div>
            {% endfor %}
            <div class="list-group list-group-flush list-group-formset">
                {% for form in formset %}
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-8">
                            {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
                    {{ form.text|as_crispy_field }}
                    {% if form.instance.pk and form.text.value != form.instance.text %}
                            <p class="mb-0 mt-1">
                                <small class="text-muted font-italic">
                                    <strong>Old answer:</strong>
                                    {{ form.instance.text }}
                                </small>
                            </p>
                            {% endif %}
                        </div>
                        <div class="col-2">
                            {{ form.is_correct }}
                        </div>
                        <div class="col-2">
                            {% if form.instance.pk %}
                      {{ form.DELETE }}
                    {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <p>
            <small class="form-text text-muted">
                Your question may have at least
                <strong>2</strong>
                answers and maximum
                <strong>10</strong>
                answers. Select at least one correct answer.
            </small>
        </p>
        <button type="submit" class="btn btn-success">Save changes</button>
        <a href="{% url 'teachers:quiz_change' quiz.pk %}" class="btn btn-outline-secondary" role="button">Nevermind</a>
        <a href="{% url 'teachers:question_delete' quiz.pk question.pk %}" class="btn btn-danger float-right">Delete</a>
    </form>
</div>

    </section>
    <div class="circle1 d-none d-md-block"></div>
    <div class="circle2 d-none d-md-block"></div>
</main>


<!-- <div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'teachers:quiz_change_list' %}">My Quizzes</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'teachers:quiz_change' quiz.pk %}">{{ quiz.name }}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{ question.text }}</li>
        </ol>
    </nav>

    <h2 class="mb-3">{{ question.txt }}</h2>
    <form method="post" novalidate>
        {% csrf_token %}
        {{ formset.management_form }}
        {{ form|crispy }}
        <div class="card mb-3{% if formset.errors %} border-danger{% endif %}">
            <div class="card-header">
                <div class="row">
                    <div class="col-8">
                        <strong>Answers</strong>
                    </div>
                    <div class="col-2">
                        <strong>Correct?</strong>
                    </div>
                    <div class="col-2">
                        <strong>Delete?</strong>
                    </div>
                </div>
            </div>
            {% for error in formset.non_form_errors %}
            <div class="card-body bg-danger border-danger text-white py-2">{{ error }}</div>
            {% endfor %}
            <div class="list-group list-group-flush list-group-formset">
                {% for form in formset %}
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-8">
                            {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
                    {{ form.text|as_crispy_field }}
                    {% if form.instance.pk and form.text.value != form.instance.text %}
                            <p class="mb-0 mt-1">
                                <small class="text-muted font-italic">
                                    <strong>Old answer:</strong>
                                    {{ form.instance.text }}
                                </small>
                            </p>
                            {% endif %}
                        </div>
                        <div class="col-2">
                            {{ form.is_correct }}
                        </div>
                        <div class="col-2">
                            {% if form.instance.pk %}
                      {{ form.DELETE }}
                    {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <p>
            <small class="form-text text-muted">
                Your question may have at least
                <strong>2</strong>
                answers and maximum
                <strong>10</strong>
                answers. Select at least one correct answer.
            </small>
        </p>
        <button type="submit" class="btn btn-success">Save changes</button>
        <a href="{% url 'teachers:quiz_change' quiz.pk %}" class="btn btn-outline-secondary" role="button">Nevermind</a>
        <a href="{% url 'teachers:question_delete' quiz.pk question.pk %}" class="btn btn-danger float-right">Delete</a>
    </form>
</div> -->
{% endblock %}
