{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<style>
    h2
{
text-align: center;
}

#formbox
{
    max-width: 100vw;
    border-radius: 25px;
}
html{
    scroll-behavior: smooth;
}
  main
  {
    min-height: 88vh;
    background: linear-gradient(to right top, #fbe8ea, #ffafcc);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contain
  {
      background:white;
      min-height: 80vh;
      width:60%;
      background:linear-gradient(to right bottom, rgba(255,255,255,0.7),rgba(255,255,255,0.3));
      border-radius: 2rem;
      backdrop-filter: blur(2rem);
      z-index: 1;
      display: flex;
  }

  .circle1,.circle2
  {
    background:white;
    background:linear-gradient(to right bottom, rgba(255,255,255,1),rgba(255,255,255,0.5));
    height: 20rem;
    width: 20rem;
    position: absolute;
    border-radius: 50%;
  }

  .circle1
  {
    top:20%;
    right:10%;
    z-index: 0;
  }

  .circle2
  {
    bottom:5%;
    left:10%;
    z-index: 0;
  }

  .image
  {
      flex: 1;
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background:linear-gradient(to right bottom, rgba(255,255,255,0.7),rgba(255,255,255,0.3));
      border-radius: 2rem;
  }

  .mytable
  {
      flex:2;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content:center;
  }

  #myimg
  {
      width:100%;
      height: auto;
      
  }

  .txt
  {
      color:#f05d87;
      font-weight:600;
      opacity: 0.8;
      font-family: "Poppins",sans-serif;
  }

  h1
  {
      font-size: 3vw;
  }

  .formdiv
  {
      display: flex;
      align-items: center;
  }
</style>

<main>
    <section class="contain">
        <div class="image">
            <h2 class="mb-3">
                {{ quiz.name }}
            </h2>

            <div class="formdiv">
                <form method="post" novalidate>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class=" ml-5 btn btn-success">Save changes</button>
                </form>
            </div>
            <div class="formdiv">
                <a href="{% url 'teachers:quiz_change_list' %}" class="btn btn-outline-secondary m-2" role="button">Nevermind</a>
                <a href="{% url 'teachers:quiz_delete' quiz.pk %}" class="btn btn-danger float-right">Delete</a>
            </div>
        </div>

        <div class="mytable">
            <h1 class="txt">Quiz Details</h1>
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-10">
                            <strong>Questions</strong>
                        </div>
                        <div class="col-2">
                            <strong>Answers</strong>
                        </div>
                    </div>
                </div>
                <div class="list-group list-group-flush list-group-formset">
                    {% for question in questions %}
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-10">
                                <a href="{% url 'teachers:question_change' quiz.pk question.pk %}">{{ question.text }}</a>
                            </div>
                            <div class="col-2">
                                {{ question.answers_count }}
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <div class="list-group-item text-center">
                        <p class="text-muted font-italic mb-0">You haven't created any questions yet. Go ahead and
                            <a href="{% url 'teachers:question_add' quiz.pk %}">add the first question</a>.
                        </p>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="butto">
                <a href="{% url 'teachers:question_add' quiz.pk %}" class="btn btn-primary m-3" role="button">Add Questions</a>
                <a href="{% url 'teachers:quiz_results' quiz.pk %}" class="mybtn ml-2">View results</a>
            </div>
        </div>

    </section>
    <div class="circle1 d-none d-md-block"></div>
    <div class="circle2 d-none d-md-block"></div>
</main>


<!-- <div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'teachers:quiz_change_list' %}">My Quizzes</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{ quiz.name }}</li>
        </ol>
    </nav>


    <h2 class="mb-3">
        {{ quiz.name }}
        <a href="{% url 'teachers:quiz_results' quiz.pk %}" class="btn btn-primary float-right">View results</a>
    </h2>

    <div class="row mb-3">
        <div class="col-md-6 col-sm-8 col-12">
            <form method="post" novalidate>
                {% csrf_token %}
            {{ form|crispy }}
                <button type="submit" class="btn btn-success">Save changes</button>
                <a href="{% url 'teachers:quiz_change_list' %}" class="btn btn-outline-secondary" role="button">Nevermind</a>
                <a href="{% url 'teachers:quiz_delete' quiz.pk %}" class="btn btn-danger float-right">Delete</a>
            </form>
        </div>
    </div>


    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-10">
                    <strong>Questions</strong>
                </div>
                <div class="col-2">
                    <strong>Answers</strong>
                </div>
            </div>
        </div>
        <div class="list-group list-group-flush list-group-formset">
            {% for question in questions %}
            <div class="list-group-item">
                <div class="row">
                    <div class="col-10">
                        <a href="{% url 'teachers:question_change' quiz.pk question.pk %}">{{ question.text }}</a>
                    </div>
                    <div class="col-2">
                        {{ question.answers_count }}
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="list-group-item text-center">
                <p class="text-muted font-italic mb-0">You haven't created any questions yet. Go ahead and
                    <a href="{% url 'teachers:question_add' quiz.pk %}">add the first question</a>.
                </p>
            </div>
            {% endfor %}
        </div>
        <div class="card-footer">
            <a href="{% url 'teachers:question_add' quiz.pk %}" class="btn btn-primary btn-sm">Add question</a>
        </div>
    </div>

</div> -->
{% endblock %}
