{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<style>
   .jumbotron {
        background-image: url('https://i.ibb.co/jz5tp65/jumbotron.jpg') !important;
        background-size: cover;
        color:white;
        text-align: center;
   }
   .card{
       background-image:url('https://i.ibb.co/YBWTL0g/subjects.jpg');
       color:wheat;
   }
   .card-title{
       margin-top:40%;
       text-decoration: none;
       color:white;
   }
</style>
<div class="jumbotron">
    <hr class="my-4">
    <h1 class="display-4">Welcome {{user.username}}</h1>
    <p class="lead">Complete Your assignments & Tests.. Attend classes and Enjoy Learning.</p>
    <hr class="my-4">
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#here" role="button">Start Learning</a>
    </p>
</div>
<div class="container mb-5">
    <h1>Your Subjects</h1>
    <ul>
        {% for subject in user.student.interests.all %}
        <li>{{subject}}</li>
        {% endfor %}
    </ul>
</div>
<div class="container mb-5" id="here">
    <div class="row">
        <div class="col-lg-4 col-sm-12 col-12">
            <div class="card text-center" style="width:15rem;height:15rem;">
                <div class="card-body">
                    <a href="{% url 'students:quiz_list' %}">
                        <h5 class="card-title">Your Tests</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
