<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}
{% if form.errors %}
    <div class="alert alert-danger alert-dismissible" role="alert">
        <div id="form_errors">
            {% for key, value in form.errors.items %}
                <strong>{{ value }}</strong>
            {% endfor %}
        </div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}
<div class="container mt-5" id="login-container">
    {% if validlink %}
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-8 col-12">
            <h2>Password Reset</h2>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_new_password1" class="label">New Password</label>
                    <input type="password" name="new_password1" autocomplete="new-password"
                                                       class="form-control" required id="id_new_password1"
                                                       placeholder="Enter password"/>
                    <i class="far fa-eye" id="togglePassword1" style="margin-left: -35px; cursor: pointer;"></i>
                </div>
                <script>
                    const togglePassword = document.querySelector('#togglePassword1');
                    const password = document.querySelector('#id_new_password1');
                    togglePassword.addEventListener('click', function (e) {
                    const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
                    password.setAttribute('type', type);
                    this.classList.toggle('fa-eye-slash');
                    });
                </script>
                <div class="form-group">
                    <label for="id_new_password2" class="label">New Password Confirmation</label>
                    <input type="password" name="new_password2" autocomplete="new-password"
                                                       required id="id_new_password2" class="form-control"
                                                       placeholder="Confirm password"/>
                    <i class="far fa-eye" id="togglePassword2" style="margin-left: -35px; cursor: pointer;"></i>
                </div>
                <script>
                    const togglePassword = document.querySelector('#togglePassword2');
                    const password = document.querySelector('#id_new_password2');
                    togglePassword.addEventListener('click', function (e) {
                    const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
                    password.setAttribute('type', type);
                    this.classList.toggle('fa-eye-slash');
                    });
                </script>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-login">Reset</button>
                    <br>
                </div>
            </form>
        </div>
    </div>
    {% else %}
        <div class="row justify-content-center my-5 p-3">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                    <div class="alert alert-warning m-0">
                        The password reset link was invalid, possibly because it has already been used.
                        Please request a new password reset.
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}