{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}
{% if form.errors %}
    <div class="alert alert-danger alert-dismissible" role="alert">
        <div id="form_errors">
            {% for key, value in form.errors.items %}
                <strong>{{ value }}</strong>
            {% endfor %}
        </div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}
<div class="container mt-5" id="login-container">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-8 col-12">
            <h2>Forgot Password</h2>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email" class="label">Email</label>
                    <input type="email" name="email"  class="form-control input-field"
                                               autocomplete="email" maxlength="254" required id="id_email"
                                               placeholder="Enter email">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-login">Submit</button>
                    <br>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}