{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %} {% load socialaccount %} {% if form.non_field_errors %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {% for error in form.non_field_errors %}
    <p{% if forloop.last %} class="mb-0" {% endif %}>{{ error }}</p>
        {% endfor %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
</div>
{% endif %}
<div class="container mt-5" id="login-container">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-8 col-12">
            <h2>Log in</h2>
            <form method="post" action="{% url 'login' %}" method="post" style="margin-bottom:10%;">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username" class="label">Username</label>
                    <input type="text" class="form-control input-field" name="username" id="username">
                </div>
                <div class="form-group">
                    <label for="password" class="label">Password</label>
                    <input type="password" class="form-control input-field" name="password" id="password">
                </div>
                <div class="form-group d-flex justify-content-between">
                    <button type="submit" class="btn btn-success btn-login">Login</button>
                    <a class="mt-2" href={% url 'password_reset' %}>Forgot password?</a>
                    <br>
                </div>
            </form>
            <a href="{% provider_login_url 'google' %}" class="btn btn-info">
                <i class="fa fa-google fa-fw"></i>
                <span>Login with Google</span>
              </a>
        </div>
    </div>
</div>
{% endblock %}