{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .role{
        width:50%;
        height:50%;
        border:2px solid #0A014F;
    }
</style>
<div class="container mt-5" id="register">
    <h2>Sign up for a free account</h2>
    <p class="lead">Select below the type of account you want to create</p>
    <div class="row">
        <div class="col">
            <h2>Sign up as a Student</h2>
            <a href="{% url 'student_signup' %}" class="btn btn-student btn-lg" role="button">
                <img src="{% static 'img/student.jpg' %}" style="width:250px; height:200px" class="role">
            </a>
        </div>
        <div class="col">
            <h2>Sign up as a Teacher</h2>
            <a href="{% url 'teacher_signup' %}" class="btn btn-teacher btn-lg" role="button">
                <img src="{% static 'img/teacher.jpg' %}" style="width:250px; height:200px" class="role">
            </a>
        </div>
    </div>
</div>
{% endblock %}
